---
import { Image } from "astro:assets";
import Gene from "../../assets/pics/coolGene.svg";
import Software from "../../assets/homeIcons/20.svg";
import Microscope from "../../assets/homeIcons/21.svg";
import Pipette from "../../assets/homeIcons/22.svg";
import Files from "../../assets/homeIcons/23.svg";
import Computer from "../../assets/homeIcons/24.svg";


import Protein from "../../assets/pics/redProtein.svg";

import Section from "./Section.astro";
---

<Section id="home" class=" overflow-hidden">
  <!-- Background Half Circle -->
  <!-- <div class="absolute w-full h-[50vw] bottom-0 left-1/2 -translate-x-1/2">
    <div class="w-full h-full rounded-t-full bg-[#F3EEE8]"></div>
    <div class="bg-[#dddddd] w-full h-[60px]"></div>
  </div> -->

  <div class="flex flex-row pt-44 pb-80 justify-center items-center">
    <!-- <div class="flex flex-col justify-center items-center w-1/4">
      <Image src={Software} alt="browser" height={220} class="pb-32 pl-16"></Image>
      <Image src={Files} alt="browser" height={300}></Image>
    </div>
   -->
    <div class="flex flex-col justify-center item-center pt-20">
      <div class="flex flex-col w-full items-center text-center space-y-10 select-none ">
        <h1 class="sm:text-8xl sm:w-3/4 w-4/4 text-8xl inline-block">Your Research deserves<br/> <span class="font-semibold bg-gradient-to-r from-rose-900 via-rose-500 to-rose-600 text-transparent bg-clip-text bg-300% animate-gradient">Better Software</span> 
          
          <!-- <div class="tooltip-wrapper" data-tooltip="The developer">
            <span onclick="window.location='https://effie.bio'"class="rotating-symbol text-xs">✻</span>
          </div> -->

         
        </h1>
        <p class="sm:text-2xl text-xl w-3/4 font-light text-gray-500">
         Our vision is to accelerate science by improving <br/> every scientific software niche.
        </p>
        <button class="btn-primary" onclick="window.location='mailto:hi@effie.bio'">Contact Us</button>
      </div>
    </div>
  
    <!-- <div class="flex flex-col justify-center items-center w-1/4">
      <Image src={Computer} alt="browser" height={580}></Image>
    </div> -->
  </div>
  <!-- <Image src={Files} alt="browser" height={580}></Image>
  <Image src={Computer} alt="browser" height={580}></Image>


  <p class="pt-24">
    While science pushes boundaries, too often its software lags behind. We're changing that by bringing cutting-edge technology to underserved research areas. Advanced analyses shouldn't be locked behind complex legacy tools or clunky interfaces – they should be accessible to every scientist.
  </p> -->



</Section>



<style>
  .custom-grid {
    grid-template: auto auto;
  }

  .tooltip-wrapper {
      position: relative;
      display: inline-block;
    }

    .rotating-symbol {
      animation: spin 5s linear infinite;
      font-size: 4rem;
      color: rgb(239, 68, 68);
      font-family: serif;
      cursor: pointer;
      display: inline-block;
    }

    .rotating-symbol:hover {
      color: rgb(185, 28, 28);
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .tooltip-wrapper[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    font-size: 17px;
    content: attr(data-tooltip);
    border: 1px solid hsl(0, 0%, 100%);
    background: hsl(0, 0%, 100%);
    padding: 0.25em;
    border-radius: 0.5rem;
    top: 100%;
    left: 50%;
    transform: translateX(-20%) translateY(-340%);
    white-space: nowrap;
    margin-top: 4px;
    animation: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
               0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 1;
}

.tooltip-wrapper[data-tooltip]:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-27%) translateY(-590%);
    margin-top: 12px;
    border-width: 8px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.1));
    z-index: 2; /* Place triangle above the tooltip content */
}

.progress-container {
            width: 300px;
            height: 20px;
            background-color: #f0f0f0;
            border-radius: 10px;
            overflow: hidden;
            margin: 20px;
        }
        .progress-bar {
            width: 50%;
            height: 100%;
            background-color: rgb(239, 68, 68);
            transition: width 0.3s ease;
        }













        .animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 16s ease infinite alternate;
  animation: animatedgradient 16s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}      
</style>
