---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";
import Microscope from "../../assets/homeIcons/21.svg";
import DNA from "../../assets/homeIcons/27.svg";


const cards = [
  {
    index: 1,
    titleTop: "Vasco",
    titleBottom: "The most complete genome utility tool & browser",
    img: DNA,
    alt: "SEO",
    link: "vasco",
    progress: "40"
  },
  {
    index: 2,
    titleTop: "Niove",
    titleBottom: "Next level, user-friendly image processing",
    img: Microscope,
    alt: "SEO",
    link: "niove",
    progress: "10"
  }
];

const description =
  "";
---

<Section id="products">



  <div class=" bg-[#FFFFFF] flex flex-col items-center pb-48 w-full select-none">

    <div class="flex justify-center items-center p-24 w-full overflow-hidden">
      <SectionTitle
      sectionTitle="Products"
      description=""
    />
      
    </div>  

    <div class="items-center justify-center flex flex-row space-x-10 w-full">
      <div class="grid lg:grid-cols-2 lg:grid-rows-1 gap-10">
        {
          cards.map((card) => (
            <ServiceCard
              index={card.index}
              titleTop={card.titleTop}
              titleBottom={card.titleBottom}
              img={card.img}
              alt={card.alt}
              link={card.link}
              progress={card.progress}
            />
          ))
        }
      </div>

    </div>

    

  </div>

</Section>
