---
import { Image } from "astro:assets";
import Facebook from "../../assets/facebook.svg";
import Linkedin from "../../assets/linkedin.svg";
import Logo from "../../assets/logo-alt.svg";
import Twitter from "../../assets/twitter.svg";
import brand from "../../assets/dryLogo.svg";


const logos = [
  // { name: "Facebook", src: Facebook, link: "https://facebook.com" },
  // { name: "Linkedin", src: Linkedin, link: "https://linkedin.com" },
  { name: "Twitter", src: Twitter, link: "https://twitter.com/drylabinc" },
];

const links = [
  { name: "Products", href: "#products" },
  { name: "Contact Us", href: "#contact" },

];
---

<section class="">
  <div class="w-full mx-auto select-none">
    <div
      class=" bg-[#F9E0F2] text-white "
    >
      <div>
        <div
          class="flex flex-col lg:flex-row gap-7 items-center justify-between"
        >

        <div class="flex flex-row invisible">
          <span class="text-xl text-red-500 font-serif pt-2 pr-4"></span>
          <picture>
            <a href="#home">
              <Image src={brand} alt="Brand Logo" height={48} class="invert" loading="eager" />
            </a>
          </picture>
          

        </div>

        <!-- <ul class="flex flex-col sm:flex-row gap-5">
          {
            links.map((link) => {
              return (
                <li class="text-center">
                  <a class="underline" href={link.href}>
                    {link.name}
                  </a>
                </li>
              );
            })
          }
        </ul> -->

        <p class="text-stone-500 pt-2 pl-4"> © Copyright 2024, Drylab Inc.</p>


        <div class="flex flex-row items-center">
          <ul class="flex gap-5 pl-32 invisible">
            {
              logos.map((logo) => {
                return (
                  <li>
                    <a href={logo.link} target="_blank">
                      <picture>
                        <Image src={logo.src} alt={logo.name} />
                      </picture>
                    </a>
                  </li>
                );
              })
            }
          </ul>
          <span class="text-xl text-red-500 font-serif px-4"></span>
          
          

        </div>
        
          
        </div>


       

        <!-- <div class="flex flex-col lg:flex-row mt-[66px] mb-[51px]">
          <div class="flex-grow my-10 lg:my-0 lg:ml-12">
            <ShortForm />
          </div>
        </div> -->
      </div>

      <!-- <div
        class="flex flex-col lg:flex-row py-2 text-sm text-stone-600 justify-center mt-4 text-center md:justify-between md:mt-0"
      >

        <span>Website based on
          <a
            href="https://www.olgaskuja.design/"
            target="_blank"
            class="underline"> Olga Skuja's </a
          ><span> work.
          <a
            class="underline"
            href="https://creativecommons.org/licenses/by/4.0/"
            target="_blank">Licence</a
          >
        </span>
      </div>
    </div> -->
  </div>
</section>
